/* Settings iniziali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
}
nav a {
  color: inherit;
  text-decoration: inherit;
}
/* classi clear fix e container globali */
.container {
  width: 80%;
  margin: 0 auto;
}
.row:after {
  display: table;
  content: "";
  clear: both;
}
/* utility per colonne */
div [class^="col-"]{
  float: left;
  padding: 10px;
  text-align: center;
}
.col-33 {
  width: calc(100% / 3);
}
.col-50 {
  width: 50%;
}
/* sezione menu help */
.help-menu {
  position: fixed;
  bottom: 0;
  height: 37px;
  width: 100vw;
  z-index: 1;
}
.help-menu span {
  position: absolute;
  bottom: 0;
  right: 300px;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* sezione header */
header {
  background-color: #0C325A;
  padding-top: 10px;
}
div.logo {
  float: left;
  display: inline-block;
}
.logo img {
  padding-top: 1px;
  width: 100%;
  display: inline;
}
.links {
  float: left;
  width: 90%;
  padding-left: 80px;
  display: inline-block;
  line-height: 48px;
}
/* sezione navbar */
nav {
  height: 50px;
}
nav ul {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
}
nav ul li{
  font-size: 1em;
  display: inline-block;
  padding-right: 20px;
}
.login {
  float: right;
}
/* classi per bottoni */
.btn {
  border: 1px solid #0C325A;
  line-height: 25px;
  height: auto;
  width: auto;
  border-radius: 5px;
  text-align: center;
  padding: 5px 8px;
  text-transform: uppercase;
  margin-left: 10px;
}
.border {
  border: 1px solid #fff;
}
.highlight {
  background-color: #7CBB02;
  border: 1px solid #7CBB02;
}
/* sezione jumbo */
.jumbo {
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 110% 100%;
  height: calc(100vh - 180px);
  color: #fff;
  position: relative;
}
.jumbo-text{
  width: 40%;
  position: absolute;
  top: 45%;
  font-size: 45px;

}
.jumbo-text > div {
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
}
.jumbo-text .btn p {
  padding: 5px;
}
.jumbo-footer {
  text-align: center;
  background-color: #D3D3D3;
  height: 120px;
  /* line-height: calc(120px / 2); */
  font-size: 20px;
}
.jumbo-footer div:first-child {
  padding-top: 25px;
  font-size: 25px;

}
/* sezione main */
.content-image {
  display: inline-block;
}
.content-image img {
  height: 200px;
}
.content-text p {
  padding: 20px;
  color: #808080;
}
.content-text h2 {
  color: #7CBB02;
  padding: 20px 0;
}
.hr {
  width: 50px;
  margin: 0 auto;
}
.graph-text {
  text-align: left;
}
.graph-image img{
  height: 400px;
}
.graph-text {
  width: 70%;

}
.graph-text p {
  padding-bottom: 15px;
}
.graph-text p:first-child {
  font-size: 30px;
}
.graph-text p:nth-child(2) {
  color: #808080;
}
/* sezione footer */
footer {
  padding-top: 50px;
  height: 130px;
  background-color: #D3D3D3;
}
footer ul li {
  font-size: 1em;
  display: inline-block;
}
/* utility padding e margin */
.pl-10 {
  padding-left: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.footer-text {
  float: left;
  font-size: 30px;
  font-weight: bold;
}
.footer-tools {
  color: #808080;
  float: right;
}
.footer-tools li:last-child {
  color: #fff;
}
#dropdown {
  width: 130px;
}
#dropdown:after{
  font-size: 10px;
  content: "\25bc";
}
.border-bottom {
  border-bottom: 1px solid #808080;
}
