* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
}
/* main, .jumbo, .jumbo-text, .jumbo .container {
  border: 1px solid #fff;
} */
 /* .jumbo-footer div{
  border: 1px solid #f00;
} */
.container {
  width: 80%;
  margin: 0 auto;
}
.row:after {
  display: table;
  content: "";
  clear: both;
}
header {
  background-color: #0C325A;
  padding-top: 10px;
}
div.logo {
  float: left;
  display: inline-block;
}
.logo img {
  padding-top: 1px;
  width: 100%;
  display: inline;
}
.links {
  float: left;
  width: 90%;
  padding-left: 20px;
  display: inline-block;
  line-height: 48px;
}
nav {
  height: 50px;
}
nav ul {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
}
nav ul li {
  font-size: 1em;
  display: inline-block;
  padding-right: 20px;
}
.login {
  float: right;
}
.btn {
  border: 1px solid #0C325A;
  line-height: 25px;
  height: auto;
  width: auto;
  border-radius: 5px;
  text-align: center;
  padding: 5px 8px;
  text-transform: uppercase;
}
.border {
  border: 1px solid #fff;
}
.highlight {
  background-color: #7CBB02;
}

.jumbo {
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  height: calc(100vh - 180px);
  color: #fff;
  position: relative;
}
.jumbo-text{
  width: 40%;
  position: absolute;
  top: 50%;
  font-size: 40px;

}
.jumbo-text > div {
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
}
.jumbo-text .btn p {
  padding: 5px;
}
.jumbo-footer {
  text-align: center;
  background-color: #D3D3D3;
  height: 120px;
  /* line-height: calc(120px / 2); */
  font-size: 20px;
}
.jumbo-footer div:first-child {
  padding-top: 25px;
  font-size: 25px;

}
