* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.row:after {
  display: table;
  content: "";
  clear: both;
}
header {
  background-color: #0C325A;
}
